---
interface Props {
    url?: string | URL;
    img: string;
    attribution: string;
    alt: string;
}

const {url, img, attribution, alt} = Astro.props as Props;
---
{url ? (
    <a href={url}>
        <img
            src={img}
            height="31"
            width="88"
            style="image-rendering:pixelated;"
            title={attribution}
            alt={alt}
        />
    </a>
) : (
    <img
        src={img}
        height="31"
        width="88"
        style="image-rendering:pixelated;"
        title={attribution}
        alt={alt}
    />
)}
