---
interface Props {
    img: string;
    url?: string | URL | null;
    attribution?: string | null;
    alt?: string | null;
}

const {url, img, attribution, alt} = Astro.props as Props;
---
{url ? (
    <a href={url} target="_blank">
        <img
            src={img}
            height="31"
            width="88"
            style="image-rendering:pixelated;"
            title={attribution}
            alt={alt}
        />
    </a>
) : (
    <img
        src={img}
        height="31"
        width="88"
        style="image-rendering:pixelated;"
        title={attribution}
        alt={alt}
    />
)}
